---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@components/ui/blocks/MainSection.astro";
import { SITE } from "@data/constants";

interface Article {
  isRightSection: boolean;
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  single?: boolean;
  img?: any;
  imgAlt?: string;
  imgOne?: any;
  imgOneAlt?: string;
  imgTwo?: any;
  imgTwoAlt?: string;
}

const pageTitle: string = `Services | ${SITE.title}`;
---
<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/services",
    "url": "https://screwfast.uk/services",
    "name": "Expert Consultation Services | ScrewFast",
    "description": "Uniting expertise with your vision, ScrewFast provides exceptional service and comprehensive solutions in the hardware and construction industry, from consultation to project completion.",
    "isPartOf": {
        "@type": "WebSite",
        "url": "https://screwfast.uk",
        "name": "ScrewFast",
        "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "en-US"
  }}
>

<!-- Paid -->
<div class="max-w-screen-md pt-20">
    <h1
      class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
    >
    <span class="text-yellow-500 dark:text-yellow-400">Services Payant</span>
    </h1>
</div>
  <MainSection
    title="Assistance d'Application"
    subTitle="Obtenez un soutien personnalisé de notre équipe d’experts pour améliorer votre demande de bourses, stages, emplois ou programmes de doctorat, augmentant ainsi vos chances de succès."
    btnExists={true}
    btnTitle="Demander une Consultation"
    btnURL="#"
  />
  <MainSection
    title="Séances de Consultation"
    subTitle="Recevez des conseils d’experts sur le choix de la bonne majeure du collège, trouver votre cheminement de carrière, élaborer un curriculum vitae impressionnant et maîtriser les techniques d’entrevue. Nos conseillers sont spécialisés dans l’éducation et l’emploi, ce qui vous assure d’être bien préparé pour votre avenir."
    btnExists={true}
    btnTitle="Demander une Consultation"
    btnURL="#"
  />
<!-- Free -->  
<div class="max-w-screen-md pt-20">
    <h1
      class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
    >
    <span class="text-yellow-500 dark:text-yellow-400">Services Gratuits</span>
    </h1>
</div>
  <MainSection
    title="Opportunités éducatives"
    subTitle="Accédez à un large éventail de bourses d’études, de bourses et de subventions conçues pour soutenir votre parcours académique."
    btnExists={false}
  />
  <MainSection
    title="Offres d’emploi et de stage"
    subTitle="Explorez des possibilités d’emploi et de stage adaptées à divers secteurs et niveaux d’expérience."
    btnExists={false}
  />
  <MainSection
    title="Formations en ligne"
    subTitle="Découvrez des cours gratuits et payants dans tous les domaines de la connaissance, vous aidant à développer de nouvelles compétences et faire progresser votre carrière."
    btnExists={false}
  />


</MainLayout>
