---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@components/ui/blocks/MainSection.astro";
import LeftSection from "@components/ui/blocks/LeftSection.astro";
import RightSection from "@components/ui/blocks/RightSection.astro";
import FeaturesStats from "@components/sections/features/FeaturesStats.astro";

// Import necessary images
import blueprints from "@images/blueprints-image.avif";
import personWorking from "@images/person-working.avif";
import beforeAfter from "@images/before-after.avif";
import constructionWorkers from "@images/construction-workers.avif";
import aerialView from "@images/aerial-view.avif";
import usingTools from "@images/using-tools.avif";
import progressBuilding from "@images/progress-building.avif";
import underConstruction from "@images/under-construction.avif";
import { SITE } from "@data/constants";

interface Article {
  isRightSection: boolean;
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  single?: boolean;
  img?: any;
  imgAlt?: string;
  imgOne?: any;
  imgOneAlt?: string;
  imgTwo?: any;
  imgTwoAlt?: string;
}

const pageTitle: string = `Services | ${SITE.title}`;
---
<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/services",
    "url": "https://screwfast.uk/services",
    "name": "Expert Consultation Services | ScrewFast",
    "description": "Uniting expertise with your vision, ScrewFast provides exceptional service and comprehensive solutions in the hardware and construction industry, from consultation to project completion.",
    "isPartOf": {
        "@type": "WebSite",
        "url": "https://screwfast.uk",
        "name": "ScrewFast",
        "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "en-US"
  }}
>

<!-- Paid -->
<div class="max-w-screen-md pt-20">
    <h1
      class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
    >
    <span class="text-yellow-500 dark:text-yellow-400">Paid Services</span>
    </h1>
</div>
  <MainSection
    title="Application Assistance"
    subTitle="Get personalized support from our expert team to enhance your application for scholarships, internships, jobs, or PhD programs, significantly increasing your chances of success."
    btnExists={true}
    btnTitle="Schedule a Consultation"
    btnURL="#"
  />
  <MainSection
    title="Counseling Sessions"
    subTitle="Receive expert guidance on choosing the right college major, finding your career path, crafting an impressive resume, and mastering interview techniques. Our counselors specialize in both education and employment, ensuring you are well-prepared for your future."
    btnExists={true}
    btnTitle="Schedule a Consultation"
    btnURL="#"
  />
<!-- Free -->  
<div class="max-w-screen-md pt-20">
    <h1
      class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
    >
    <span class="text-yellow-500 dark:text-yellow-400">Free Services</span>
    </h1>
</div>
  <MainSection
    title="Educational Opportunities"
    subTitle="Access a wide range of scholarships, fellowships, and grants designed to support your academic journey."
    btnExists={false}
  />
  <MainSection
    title="Job and Internship Listings"
    subTitle="Explore curated job and internship opportunities tailored to various industries and experience levels."
    btnExists={false}
  />
  <MainSection
    title="Online Courses"
    subTitle="Discover both free and paid courses across all fields of knowledge, helping you develop new skills and advance your career."
    btnExists={false}
  />


</MainLayout>
