---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import MainSection from "@components/ui/blocks/MainSection.astro";
import { SITE } from "@data/constants";

const pageTitle: string = `Services | ${SITE.title}`;
---
<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/services",
    "url": "https://screwfast.uk/services",
    "name": "Expert Consultation Services | ScrewFast",
    "description": "Uniting expertise with your vision, ScrewFast provides exceptional service and comprehensive solutions in the hardware and construction industry, from consultation to project completion.",
    "isPartOf": {
        "@type": "WebSite",
        "url": "https://screwfast.uk",
        "name": "ScrewFast",
        "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "en-US"
  }}
>

<!-- الخدمات المدفوعة -->
<div class="max-w-screen-md pt-20 rtl-text">   

  <h1
    class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
  >
  <span class="text-yellow-500 dark:text-yellow-400">الخدمات المدفوعة</span>
  </h1>
</div>
<div class="rtl-text">
<MainSection
  title="المساعدة في التقديم"
  subTitle="احصل على دعم شخصي من فريق خبرائنا لتحسين طلبك للمنح الدراسية، التدريبات، الوظائف أو برامج الدكتوراه، مما يزيد من فرص نجاحك."
  btnExists={true}
  btnTitle="طلب استشارة"
  btnURL="#"
/>
<MainSection
  title="جلسات استشارية"
  subTitle="احصل على نصائح من الخبراء حول اختيار التخصص الجامعي المناسب، العثور على مسارك المهني، إعداد سيرة ذاتية مميزة، وإتقان تقنيات المقابلة. مستشارونا متخصصون في التعليم والتوظيف، مما يضمن لك الإعداد الجيد لمستقبلك."
  btnExists={true}
  btnTitle="طلب استشارة"
  btnURL="#"
/>
</div>
<!-- الخدمات المجانية -->
<div class="max-w-screen-md pt-20 rtl-text">
  <h1
    class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
  >
  <span class="text-yellow-500 dark:text-yellow-400">الخدمات المجانية</span>
  </h1>
</div>
<div class="rtl-text">
<MainSection
  title="فرص تعليمية"
  subTitle="احصل على مجموعة واسعة من المنح الدراسية والدعم المالي المصمم لدعم مسارك الأكاديمي."
  btnExists={false}
/>
<MainSection
  title="عروض العمل والتدريب"
  subTitle="استكشف فرص العمل والتدريب المناسبة لمختلف القطاعات ومستويات الخبرة."
  btnExists={false}
/>
<MainSection
  title="دورات تدريبية عبر الإنترنت"
  subTitle="اكتشف دورات مجانية ومدفوعة في جميع مجالات المعرفة، لمساعدتك على تطوير مهارات جديدة والتقدم في حياتك المهنية."
  btnExists={false}
/>
</div>


</MainLayout>
<style>
  .rtl-text {
    direction: rtl;
    text-align: right;
  }
  
  .ltr-text {
    direction: ltr;
    text-align: left;
  }
  </style>
  